.Registration{
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registrationForm{
    width: 30%;
    border-radius: 5px;
    background-color: rgb(207, 207, 207);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.playerNameInput{
    height: 20px;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 30px;
}
.buttonRegistration{
    height: 30px;
    border-radius: 5px;
}